<html>
<body>
    <h2>Add New Listing</h2>
    <a href="/">Back to Home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_listing_id" class="control-group"> <label for="id_listing_id" class="control-label requiredField">
        Listing ID<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="listing_id" maxlength="64" class="textinput textInput" required="" id="id_listing_id"> </div> </div> 
        
        <div id="div_id_listing_name" class="control-group"> <label for="id_listing_name" class="control-label requiredField">
        Listing Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="listing_name" maxlength="64" class="textinput textInput" required="" id="id_listing_name"> </div> </div> 
        
        <div id="div_neighbourhood" class="control-group"> <label for="id_neighbourhood" class="control-label requiredField">
        Neighbourhood<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="neighbourhood" maxlength="64" class="textinput textInput" required="" id="id_neighbourhood"> </div> </div> 
        
        <div id="div_neighbourhood_group" class="control-group"> <label for="id_neighbourhood_group" class="control-label requiredField">
        Neighbourhood Group<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="neighbourhood_group" maxlength="64" class="textinput textInput" required="" id="id_neighbourhood_group"> </div> </div>
        
        <div id="div_address" class="control-group"> <label for="id_address" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="address" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div> 
       
       <br>
       <div id="div_has_internet" class="control-group">
            <label for="id_has_internet" class="control-label requiredField">
                Room Type
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="radio" value="Private room"
                    name="room_type" id="id_room_type">
                <label for="Private room">Private Room</label>

                <input 
                    type="radio" value="Entire home/apt"
                    name="room_type" id="id_room_type">
                <label for="Entire home/apt">Entire Home/Apartment</label>
                
                <input 
                    type="radio" value="Shared room"
                    name="room_type" id="id_room_type">
                <label for="Shared room">Shared Room</label>
            </div>
        </div>
        <br>
        
        <div id="div_price" class="control-group"> <label for="id_price" class="control-label requiredField">
        Price<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="price" maxlength="64" class="textinput textInput" required="" id="id_price"> </div> </div> 

        <div id="div_address" class="control-group"> <label for="id_owner_id" class="control-label requiredField">
        Email Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="owner_id" maxlength="64" class="textinput textInput" required="" id="id_owner_id"> </div> </div> 

        <div id="div_total_occupancy" class="control-group"> <label for="id_total_occupancy" class="control-label requiredField">
        Total Occupancy<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" step="0.01" name="total_occupancy" maxlength="64" class="textinput textInput" required="" id="id_total_occupancy"> </div> </div> 

        <div id="div_total_bedrooms" class="control-group"> <label for="id_total_bedrooms" class="control-label requiredField">
        Total Bedrooms<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="total_bedrooms" maxlength="64" class="textinput textInput" required="" id="id_total_bedrooms"> </div> </div> 
        <br>
        <div id="div_has_internet" class="control-group">
            <label for="id_has_internet" class="control-label requiredField">
                Has Internet?
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="radio" value="yes"
                    name="has_internet" id="id_has_internet">
                <label for="Yes">Yes</label>

                <input 
                    type="radio" value="no"
                    name="has_internet" id="id_has_internet">
                <label for="No">No</label>
            </div>
        </div>
        <br>
        <div id="div_has_aircon" class="control-group">
            <label for="id_has_aircon" class="control-label requiredField">
                Has Aircon?
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="radio" value="Yes"
                    name="has_aircon" id="id_has_aircon">
                <label for="Yes">Yes</label>

                <input 
                    type="radio" value="No"
                    name="has_aircon" id="id_has_aircon">
                <label for="No">No</label>
            </div>
        </div>
        <br>
        <div id="div_has_kitchen" class="control-group">
            <label for="id_has_kitchen" class="control-label requiredField">
                Has Kitchen?
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="radio" value="Yes"
                    name="has_kitchen" id="id_has_kitchen">
                <label for="Yes">Yes</label>

                <input 
                    type="radio" value="No"
                    name="has_kitchen" id="id_has_kitchen">
                <label for="No">No</label>
            </div>
        </div>
        <br>
        <div id="div_has_heater" class="control-group">
            <label for="id_has_heater" class="control-label requiredField">
                Has Heater?
                <span class="asteriskField">*</span> 
            </label>
            <div class="controls">
                <input 
                    type="radio" value="Yes"
                    name="has_heater" id="id_has_heater">
                <label for="Yes">Yes</label>

                <input 
                    type="radio" value="No"
                    name="has_heater" id="id_has_heater">
                <label for="No">No</label>
            </div>
        </div>
        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>
