<html>
<body>
    <h2>Add New Customer</h2>
    <a href="/">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_listing_id" class="control-group"> <label for="id_listing_id" class="control-label requiredField">
        Listing ID<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="listing_id" maxlength="64" class="textinput textInput" required="" id="id_listing_id"> </div> </div> 
        
        <div id="div_id_listing_name" class="control-group"> <label for="id_listing_name" class="control-label requiredField">
        Listing Name<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="listing_name" maxlength="64" class="textinput textInput" required="" id="id_listing_name"> </div> </div> 
        
        <div id="div_neighbourhood" class="control-group"> <label for="id_neighbourhood" class="control-label requiredField">
        Neighbourhood<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="neighbourhood" maxlength="64" class="textinput textInput" required="" id="id_neighbourhood"> </div> </div> 
        
        <div id="div_neighbourhood_group" class="control-group"> <label for="id_neighbourhood_group" class="control-label requiredField">
        Neighbourhood Group<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="neighbourhood_group" maxlength="64" class="textinput textInput" required="" id="id_neighbourhood_group"> </div> </div>
        
        <div id="div_address" class="control-group"> <label for="id_address" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="address" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div> 
        
        <div id="div_address" class="control-group"> <label for="id_room_type" class="control-label requiredField">
        Room Type<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="room_type" maxlength="64" class="textinput textInput" required="" id="id_room_type"> </div> </div> 
        
        <div id="div_price" class="control-group"> <label for="id_price" class="control-label requiredField">
        Price<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="price" maxlength="64" class="textinput textInput" required="" id="id_price"> </div> </div> 

        <div id="div_address" class="control-group"> <label for="id_owner_id" class="control-label requiredField">
        Email Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="owner_id" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div> 

        <div id="div_address" class="control-group"> <label for="id_total_occupancy" class="control-label requiredField">
        Total Occupancy<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" name="total_occupancy" maxlength="64" class="textinput textInput" required="" id="id_total_occupancy"> </div> </div> 

        <div id="div_address" class="control-group"> <label for="id_total_bedrooms" class="control-label requiredField">
        Total Bedrooms<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="total_bedrooms" maxlength="64" class="textinput textInput" required="" id="id_total_bedrooms"> </div> </div> 

        <div id="div_address" class="control-group"> <label for="id_address" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="address" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div> 

        <div id="div_address" class="control-group"> <label for="id_address" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="address" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div> 

        <div id="div_address" class="control-group"> <label for="id_address" class="control-label requiredField">
        Address<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="address" maxlength="64" class="textinput textInput" required="" id="id_address"> </div> </div> 

        <br>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>