{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
  
  <style>
    .block {
      display: block;
      width: 60%;
      border: none;
      background-color: #BBBBBB;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }

    .block:hover {
      background-color: #ddd;
      color: black;
    }
    
    table, th, td {
    border: 2px solid black;
    }
    
    div.a {
    font-size: 90%;
    }
</style>
  
<body>
    <div class="container mt-5">
        <img src="{% static 'app/images/loddge_logo.png' %}" width="60%"   alt="loddge logo"/><br/>
        <h1>Admin Dashboard</h1>
        <br>
        <br>
        
        <h4> Top 10 Revenue-Generating Listings </h4>
        <table border=2>
            <thead>
                <th>Listing Name</th>
                <th>Total Revenue</th>
            </thead>
            {% for listRev in recordsRev %}
            <tr>
                <td> {{ listRev.0 }} </td>
                <td> {{ listRev.1 }} </td>
                <td>
            </tr>
            {% endfor %}
        </table>
        
        <br>
        <br>
        
        <h4> Top 10 Revenue-Generating Neighbourhoods and their Number of Listings </h4>
        <table border=2>
            <thead>
                <th>Neighbourhood</th>
                <th>Total Revenue</th>
                <th>Number of Listings</th>
            </thead>
            {% for listRevL in recordsRevL %}
            <tr>
                <td> {{ listRevL.0 }} </td>
                <td> {{ listRevL.1 }} </td>
                <td> {{ listRevL.2 }} </td>
                <td>
            </tr>
            {% endfor %}
        </table>
        
        <br>
        <br>
        
        <h4> Top 10 Owners with Greatest Revenues </h4>
        <table border=2>
            <thead>
                <th>Owner ID</th>
                <th>Total Revenue</th>
            </thead>
            {% for listO in recordsO %}
            <tr>
                <td> {{ listO.0 }} </td>
                <td> {{ listO.1 }} </td>
                <td>
            </tr>
            {% endfor %}
        </table>
        
        <br>
        <br>
        
    </div>
</body>
</html>
