{% load static %}

<html>

<style>
    .block {
    display: block;
    width: 30%;
    border: none;
    background-color: #BBBBBB;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    }

    .block:hover {
    background-color: #ddd;
    color: black;
    }
</style>

<body>
    <h1>View Current Reservations</h1>
    
    <a href="/">
        <button class="block">Back to Home</button>
    </a>
    
    <br>
    <br>
  
      <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->

        <div id="div_id_neighbourhood_group" class="control-group"> <label for="id_neighbourhood_group">
        Neighbourhood Group<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="neighbourhood_group" maxlength="64" class="textinput textInput" required="" id="id_neighbourhood_group"> </div> </div>
        <br>
        <div id="div_id_total_occupancy" class="control-group"> <label for="id_total_occupancy">
        Total Occupancy<span class="asteriskField">*</span> </label> <div class="controls"> <input type="number" min="1" name="total_occupancy" maxlength="64" class="textinput textInput" required="" id="id_total_occupancy"> </div> </div>
        
        <br>
        <a href="">
            <button type="submit" name=action value="search">Search</button>
        </a>
    </form>
  
    <br>
    <br>
    <a href="addreservation">
        <button>Add New Reservation</button>
    </a>
    <p> to implement new reservation button later </p>
    
    <br>
  
    <h2>Search Results: </h2>
    <br>
    <table border=1>
        <thead>
            <th>Reservation ID</th>
            <th>User</th>
            <th>Listing ID</th>
            <th>Date Range</th>
        </thead>
        {% for listR in recordsR %}
        <tr>
            <td> {{ listR.0 }} </td>
            <td> {{ listR.1 }} </td>
            <td> {{ listR.2 }} </td>
            <td> {{ listR.3 }} </td>
            <td>
                <a href="editR/{{listR.0}}"><button>Edit Details</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{listR.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete Reservation ID: {{listR.0}}?');" type="submit" name="action" value="delete">Delete Reservation</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
