{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container mt-5">
    <h2>Details for {{list.1}} in {{list.2}}</h2>
        
    <a href="/admin_page/marketplace/">
        <button class="block">Back to Marketplace</button>
    </a>
        
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>ID</th>
            <td>:</td>
            <td> {{ list.0 }} </td>
        </tr>
        <tr>
            <th>Listing Name</th>
            <td>:</td>
            <td> {{ list.1 }} </td>
        </tr>
        <tr>
            <th>Neighbourhood</th>
            <td>:</td>
            <td> {{ list.2 }} </td>
        </tr>
        <tr>
            <th>Neighbourhood Group</th>
            <td>:</td>
            <td> {{ list.3 }} </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{ list.4 }} </td>
        </tr>
        <tr>
            <th>Room Type</th>
            <td>:</td>
            <td> {{ list.5 }} </td>
        </tr>
        <tr>
            <th>Price Per Night</th>
            <td>:</td>
            <td> {{ list.6 }} </td>
        </tr>
        <tr>
            <th>Owner Contact</th>
            <td>:</td>
            <td> {{ list.7 }} </td>
        </tr>
        <tr>
            <th>Total Occupancy</th>
            <td>:</td>
            <td> {{ list.8 }} </td>
        </tr>
        <tr>
            <th>Total Bedrooms</th>
            <td>:</td>
            <td> {{ list.9 }} </td>
        </tr>
        <tr>
            <th>Has Internet</th>
            <td>:</td>
            <td> {{ list.10 }} </td>
        </tr>
        <tr>
            <th>Has Aircon</th>
            <td>:</td>
            <td> {{ list.11 }} </td>
        </tr>
        <tr>
            <th>Has Kitchen</th>
            <td>:</td>
            <td> {{ list.12 }} </td>
        </tr>
        <tr>
            <th>Has Heater</th>
            <td>:</td>
            <td> {{ list.13 }} </td>
        </tr>
    </table>
    </div>
</body>
</html>
