<html>
<body>
    <h2>Details for {{entry.1}} in {{entry.2}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>ID</th>
            <td>:</td>
            <td> {{ entry.0 }} </td>
        </tr>
        <tr>
            <th>Listing Name</th>
            <td>:</td>
            <td> {{ entry.1 }} </td>
        </tr>
        <tr>
            <th>Neighbourhood</th>
            <td>:</td>
            <td> {{ entry.2 }} </td>
        </tr>
        <tr>
            <th>Neighbourhood Group</th>
            <td>:</td>
            <td> {{ entry.3 }} </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{ entry.4 }} </td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>:</td>
            <td> {{ entry.5 }} </td>
        </tr>
        <tr>
            <th>Longtitude</th>
            <td>:</td>
            <td> {{ entry.6 }} </td>
        </tr>
        <tr>
            <th>Room Type</th>
            <td>:</td>
            <td> {{ entry.7 }} </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>:</td>
            <td> {{ entry.8 }} </td>
        </tr>
        <tr>
            <th>Owner Contact</th>
            <td>:</td>
            <td> {{ entry.9 }} </td>
        </tr>
        <tr>
            <th>Total Occupancy</th>
            <td>:</td>
            <td> {{ entry.10 }} </td>
        </tr>
        <tr>
            <th>Total Bedrooms</th>
            <td>:</td>
            <td> {{ entry.11 }} </td>
        </tr>
        <tr>
            <th>Has Internet</th>
            <td>:</td>
            <td> {{ entry.12 }} </td>
        </tr>
        <tr>
            <th>Has Aircon</th>
            <td>:</td>
            <td> {{ entry.13 }} </td>
        </tr>
        <tr>
            <th>Has Kitchen</th>
            <td>:</td>
            <td> {{ entry.14 }} </td>
        </tr>
        <tr>
            <th>Has Heater</th>
            <td>:</td>
            <td> {{ entry.15 }} </td>
        </tr>
    </table>
</body>
</html>

<!--
<html>
<body>
    <h2>Details for {{cust.0}} {{cust.1}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>ID</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>:</td>
            <td> {{ cust.1 }} </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>Since</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
    </table>
</body>
</html>
-->
