<html>
<body>
    <h2>Details for {{list.1}} in {{list.2}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>ID</th>
            <td>:</td>
            <td> {{ list.0 }} </td>
        </tr>
        <tr>
            <th>Listing Name</th>
            <td>:</td>
            <td> {{ list.1 }} </td>
        </tr>
        <tr>
            <th>Neighbourhood</th>
            <td>:</td>
            <td> {{ list.2 }} </td>
        </tr>
        <tr>
            <th>Neighbourhood Group</th>
            <td>:</td>
            <td> {{ list.3 }} </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{ list.4 }} </td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>:</td>
            <td> {{ list.5 }} </td>
        </tr>
        <tr>
            <th>Longtitude</th>
            <td>:</td>
            <td> {{ list.6 }} </td>
        </tr>
        <tr>
            <th>Room Type</th>
            <td>:</td>
            <td> {{ list.7 }} </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>:</td>
            <td> {{ list.8 }} </td>
        </tr>
        <tr>
            <th>Owner Contact</th>
            <td>:</td>
            <td> {{ list.9 }} </td>
        </tr>
        <tr>
            <th>Total Occupancy</th>
            <td>:</td>
            <td> {{ list.10 }} </td>
        </tr>
        <tr>
            <th>Total Bedrooms</th>
            <td>:</td>
            <td> {{ list.11 }} </td>
        </tr>
        <tr>
            <th>Has Internet</th>
            <td>:</td>
            <td> {{ list.12 }} </td>
        </tr>
        <tr>
            <th>Has Aircon</th>
            <td>:</td>
            <td> {{ list.13 }} </td>
        </tr>
        <tr>
            <th>Has Kitchen</th>
            <td>:</td>
            <td> {{ list.14 }} </td>
        </tr>
        <tr>
            <th>Has Heater</th>
            <td>:</td>
            <td> {{ list.15 }} </td>
        </tr>
    </table>
</body>
</html>

<!--
<html>
<body>
    <h2>Details for {{cust.0}} {{cust.1}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>ID</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>:</td>
            <td> {{ cust.1 }} </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>Since</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
    </table>
</body>
</html>
-->
